body {
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#sliderContainer,
#bgCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#hexCanvas,
#columnSlider,
#rowSlider,
#zoomSlider {
    position: relative;
    z-index: 10;
}