body {
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#sliderContainer {
    position: absolute;
    top: 0;
    left: 0;
}

#columnSlider,
#rowSlider {
    position: relative;
    z-index: 10;
}